apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dubbo

resources:
  - ./resources/namespace.yaml
  - ./resources/configmap-proxychain.yaml
  - ./zookeeper
  - ./apps
  - ./apps-v1
  - ./apps-v2